@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-3 gap-2">
            @foreach (var key in NavLinks.Keys)
            {
                <MultiNavLink class="btn btn-outline-primary"
                         href="@NavLinks[key]"
                         ActiveClass="btn-primary text-white"
                         >
                    @key
                </MultiNavLink>
            }
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>

@code {

    public Dictionary<string, string[]> NavLinks = new()
    {
        { "People", new[] { "/people", "/" } },
        { "Departments", new[] { "/depts", "/departments" } },
        { "Details", new[] { "/person" } }
    };

}
