@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inherits LayoutComponentBase
@using Advanced.Services;

<div class="container-fluid">
    <div class="row">
        <div class="col-3 gap-2">
            @foreach (var key in NavLinks.Keys)
            {
                <MultiNavLink class="btn btn-outline-primary"
                         href="@NavLinks[key]"
                         ActiveClass="btn-primary text-white"
                         DisabledClasses="btn btn-dark text-light disabled"
                         @ref="Refs[key]"
                         >
                    @key
                </MultiNavLink>
            }
            <button class="btn btn-secondary mt-5" @onclick="ToggleLinks">Toggle Links</button>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>

@code {
    [Inject]
    public ToggleService Toggler { get; set; }

    public Dictionary<string, string[]> NavLinks = new()
    {
        { "People", new[] { "/people", "/" } },
        { "Departments", new[] { "/depts", "/departments" } },
        { "Details", new[] { "/person" } }
    };

    public Dictionary<string, MultiNavLink> Refs = new Dictionary<string, MultiNavLink>();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Toggler.EnrolComponents(Refs.Values);
        }
    }

    public void ToggleLinks() => Toggler.ToggleComponents();

}
