@page "/pages/blazor"

<script type="text/javascript">
window.addEventListener("DOMContentLoaded", () => {
        console.log("DOMContentLoader");
    document.getElementById("markElems").addEventListener("click", () => {
        console.log("Button Clicked");
        document.querySelectorAll("td:first-child")
            .forEach(elem => {
                elem.inneText = `M:${elem.innerText}`;
                elem.classList.add("border", "border-dark");
            });
    });
});
</script>


<h4 class="bg-primary text-white text-center p-2">Blazor People</h4>

<button id="markElems" class="btn btn-outline-primary mb-2">Mark Elements</button>

<component type="typeof(NetCore7Advanced.Blazor.PeopleList)" render-mode="Server"/>

<hr/>

<component type="typeof(NetCore7Advanced.Blazor.Events)" render-mode="Server" />

<hr/>

<component type="typeof(NetCore7Advanced.Blazor.Bindings)" render-mode="Server"/>

<hr/>

<h4 class="bg-primary text-white text-center p-2">Code-behind</h4>

<component type="typeof(NetCore7Advanced.Blazor.Split)" render-mode="Server"/>


<hr />

<h4 class="bg-primary text-white text-center p-2">Pure Code</h4>

<component type="typeof(NetCore7Advanced.Blazor.CodeOnly)" render-mode="Server" />

<hr />

<h4 class="bg-primary text-white text-center p-2">Departments</h4>

<link rel="stylesheet" href="connectionError.css"/>

<div id="components-reconnect-modal"
     class="h4 bg-dark text-white text-center my-2 p-2 components-reconnect-hide">
    Blazor Connection Lost
    <div class="reconnect">
        Trying to reconnect...
    </div>
    <div class="failed">
        Reconnection Failed.
        <button class="btn btn-light" onclick="window.Blazor.reconnect()">
            Reconnect
        </button>
    </div>
    <div class="rejected">
        Reconnection Rejected.
        <button class="btn btn-light" onclick="location.reload()">
            Reload
        </button>
    </div>
</div>

<component type="typeof(NetCore7Advanced.Blazor.DepartmentList)" render-mode="Server" />